<!DOCTYPE html>
<html>
<head>
	<title>Log in</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<h1>Student center</h1>
<div class="navbar">
	<a href="login.html">Login</a>
</div>
<body>
	<br></br>
	<br></br>
	<br></br>
	<br></br>
<div class="login">
	<form>
		<label type = "email"><b>Email</b></label><br>
		<input type="email" placeholder="Enter your email here" name="user_email">
		<br></br>
		<label for="psw"><b>Password</b></label><br>
		<input type="password" placeholder= "Enter password here" name="psw">
		<br></br>
		<button type="submit" class="button">Log in</button>
		<br></br>
		<a href="forgot_password">Forgot password</a>
	</form>
</div>
</body>
	<div class="navbar2">
		<a href="">About us</a>
		<a href="">Contact us</a>
		<a href="">Our Location</a>
	</div>
</html>