<!DOCTYPE html>
<html>
<head>
	<title>Posts</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<h1>Student center</h1>
<div class="navbar">
<a href="index.html">Home</a>
<a href="login.html">Login</a>
<a href="post.html">Post</a>
</div>
<body>
<div class="post">
	<button><a href="addpost.html">Add Post</a></button>
	<h4><a href="post.html">Lorem Ipsum</a></h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam  consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam </p>
	<h4>Comment</h4>
	<textarea cols="45" rows="15"></textarea><br>
	<button>Add Comment</button>
	
</div>
</body>
</html>